# Binaries and executables
*.exe
*-binary
main
/travelohi-backend/auth-binary
/travelohi-backend/account-binary

# images
*.png
*.jpg

# text
*.md
*.pdf

# IDE - VS Code
.vscode/
*.code-workspace

# IDE - IntelliJ/Goland
.idea/

# OS specific files
.DS_Store
.DS_Store?
._*
Thumbs.db
ehthumbs.db

# Go specific
vendor/
go.work
go.work.sum
*.test
*.out
cover.out

# Docker and Database
pgdata/
*.log

# Environment variables
.env
*.env
auth.env
account.env
github.txt
LC170.zip
